#map {
    width: 800px;
    height: 600px;
}
body{
	background-image: url(../bg.jpg);
	background-position: center;
    text-align: center;
}
.form-inline{
    color: sandybrown;
    margin:10px;
}
.form-control{
    margin:10px;
}